.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  font-weight: 700;
  padding: 10px 20px;
  background-color: var(--second);
}

.footer__author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__author-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--main-text-color);
  transition: opacity 0.3s;
}

.footer__author-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('./../../../images/avatar.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50px;
}

.footer__school-logo {
  display: block;
  width: 100px;
  height: 40px;
  background-image: url('./../../../images/rss-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.3s;
}

.footer__author-link:hover,
.footer__school-logo:hover {
  opacity: 0.8;
}
