.content {
  display: flex;
  flex: 1 1 auto;
  padding: 0 20px;
  max-height: calc(100vh - 157px);
}

.contacts {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  gap: 10px;
  border: 2px solid var(--second);
  padding: 5px;
  height: 100%;
}

.contacts__search {
  padding: 10px;
}

.users__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  overflow: auto;
  max-height: 100vh;
  height: 100%;
}

.users__list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.users__list::-webkit-scrollbar-thumb {
  background-color: var(--button-color);
}

.users__list::-webkit-scrollbar-track {
  background-color: var(--second);
  border: 1px solid var(--second);
}

.users__list::-webkit-scrollbar-button {
  display: none;
}

.users__list::-webkit-scrollbar-button:hover {
  background-color: #999999;
}

.users__item {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  width: 100%;
  transition: background-color 0.3s;
}

.users__item.users__item--select {
  background-color: var(--second);
}

.users__item:hover {
  background-color: var(--second);
}

.user__status {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--user-inactive);
  border-radius: 50px;
  transition: background-color 0.3s;
}

.users__item.users__item-active .user__status {
  background-color: var(--user-active);
}

.dialog {
  flex-basis: 80%;
  border: 2px solid var(--second);
  border-left: none;
  padding: 5px;
}
