.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  max-width: 500px;
}

.login__title {
  margin-bottom: 20px;
}

.login .input.error {
  background-color: var(--error-color);
}

.login__msg {
  opacity: 0;
  margin: 5px 0;
  font-weight: 200;
  font-size: 12px;
  font-family: Arial, serif;
  color: var(--error-color);
  transition: opacity 0.3s;
}

.login__msg.show {
  opacity: 1;
}

.login__btn {
  align-self: stretch;
}
