.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex: 0 0 auto;
  padding: 10px 20px;
  background-color: var(--second);
}

.header__btns {
  display: flex;
  gap: 10px;
}

.header__info {
  margin: 0 !important;
}
