:root {
  --button-color: #5d7581;
  --button-active: #384b52;
  --button-disabled: #d8e6ef;
  --text-color: #d8e6ef;
  --error-color: #f4bc9b;
  --overlay: rgba(93, 117, 129, 0.5);
  --main: #a9a9a9;
  --second: #777777;
  --main-text-color: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main);
  color: var(--main-text-color);
  font-family: 'Comfortaa', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.input,
.btn {
  font-family: 'Comfortaa', sans-serif;
  padding: 10px 20px;
}

.btn,
.input {
  transition:
    background-color 0.3s,
    color 0.3s,
    box-shadow 0.3s;
}

.btn:disabled {
  background-color: var(--button-disabled);
  color: grey;
  cursor: unset;
}

.btn:disabled:hover {
  background-color: var(--button-disabled);
}

.blur::after {
  filter: blur(2px);
  width: 105%;
  height: 105%;
}

.input {
  border: 1px solid var(--button-active);
}

.btn {
  outline: none;
  border: 1px solid transparent;
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--button-active);
}

.btn:focus-visible,
.input:focus-visible {
  border: 1px solid transparent;
  outline: none;
  box-shadow: 0 0 0 2px var(--button-active);
}

.btn:not(:last-child) {
  margin-bottom: 10px;
}
